---
---

@import "{{ site.theme }}";
section.main-content {
  max-width: 80rem;
}
table {
  margin: auto !important;
  display: table !important;
  width: inherit !important;
}
img {
  margin: auto !important;
  display: img !important;
  width: inherit !important;
}
